<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>draggable</title>
    <link rel="stylesheet" href="../common/jquery-ui.css">
    <link rel="stylesheet" href="../common/reset.css">
    <script src="../common/jquery-3.6.0.js"></script>
    <script src="../common/jquery-ui.js"></script>
    <script>
        $(function () {
            $("#draggable").draggable();
        });
    </script>
</head>
<body>
<div id="draggable" class="ui-widget-content">
    <p>Drag me around</p>
</div>
</body>
</html>
