main {
    /*容器内元素行方向排序*/
    display: flex;
    flex-direction: row;
}

nav {
    background-color: bisque;
}

article {
    background-color: red;
    /*行方向，此元素占据容器内剩余宽度*/
    flex-grow: 1;
}

aside {
    background-color: cadetblue;
}

