/* 重置默认样式 */
body {
    margin: 0;
    border: 0;
}

.container {
    /*最小高度是整个窗口*/
    min-height: 100vh;
    /*背景颜色，为了方便识别不同区域*/
    background-color: green;
    /*容器内元素列方向排序*/
    display: flex;
    flex-direction: column;
}

header {
    background-color: blue;
    /*粘性的，滚动时 header 不动*/
    position: sticky;
    top: 0;
}

main {
    background-color: aqua;
    /*列方向，此元素占据容器内剩余高度*/
    flex-grow: 1;
}

footer {
    background-color: yellow;
}
