main {
    /*容器内元素行方向排序*/
    display: flex;
    flex-direction: row;
}

article {
    /*行方向，此元素占据容器内剩余宽度*/
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

section {
    flex-grow: 1;
}
